/*----------------HEADER-----------------*/
#header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	background: radial-gradient(circle,#192D45, #163B88, #748CDB);
}
header div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	border-radius: 10px;
}
.container__search{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px
}
.container__search input{
	padding: 8px;
    border-radius: 5px
}
.container__img-search{
	width: 3%;
}
.header__picture{
	display: flex;
	border-radius: 5px;
    justify-content: center;
	padding: 20px;
	background-color: rgba(240, 248, 255, 0);
}
.header-img{
	border-radius: 10px;
}
nav{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #799cef00;
}
.nav-container-items{
	display: flex;
	align-items: center;
	font-size: 500;
	justify-content: space-between;
}
.nav-items{
	padding: 15px;
	border: solid 2px white;
	border-radius: 5px;
	margin: 5px;
	background-color: #355ab2;
	transition: .5s;
}
.nav-items:hover{
	background-color: #90aef4;
	transform: scale(1.1);
}
.link__active{
	background-color: #0234aa;
	box-shadow: 2px 2px 4px black;
	transform: scale(1.1);
}
